.imglge{
    position: absolute;
    top: 10px;
    left: 25px;
    width: 150px;
    height: 150px;
}
.htmlbg{
    background-image: url(../imagenes/bgmenueg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imglge1{
    position: absolute;
    top: 10px;
    right: 25px;
    width: 150px;
    height: 150px;
}

.diveg{
   margin: 0; 
   background: transparent;
}

.butonenc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #005B28;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.616),0 17px 50px 0 rgba(0, 0, 0, 0.616);
    font-family: "Pill Gothic 600mg Semibd", sans-serif;
    font-size: 50px;
}

#startBtn:active {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
    background-color: rgba(255, 255, 255, 0.76);
}