
/*-------------Contenedor principal-----------------*/

.contenedor{

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr); /*Usando grid para estructurar la pagina*/
    grid-template-rows: repeat(3,auto);
    /*Definiendo la esctructura de la pagina*/
    grid-template-areas: "header header header header header"
                          "menu_rastros menu_rastros menu_rastros menu_rastros menu_rastros"
                          "verticall contenido contenido contenido contenido";

}

/*-------------Contenedor principal-----------------*

/*Contendor del contenido de la pagina*/
.contenido{
width:100%;
overflow-y:auto;

    grid-area:contenido;
    background-color: rgb(253, 253, 253);
    padding: 0px;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}


h2{
color:white;
background-color:#005b28;
text-align:center;
padding: 10px;
font-weight:100;
font-size:30px;
border-top-left-radius:7px;
border-top-right-radius:7px;
border-bottom:5px solid #F3FC8C;
}

.form-register{
width:100%;
max-width:600px;
margin:auto;
background:white;
border-radius:7px;

}

.contenedor-inputs{
padding: 5px 30px;
display:flex;
flex-wrap:wrap;
justify-content:space-between !important;
}

input{
margin-bottom: 15px !important;
padding:10px;
font-size:16px;
border-radius:3px;
border:1px solid darkgray;
}
.input-50{
width: 100%;
}
.input-100{
width: 100%;
}

.input-101{
width: 100%;
}

.input-102{
width: 100%;
}

.btn-enviar{
background-color:#005b28;
color:#fff;
margin:auto;
padding:10px 40px;
cursor: pointer;
font-size:19px;
}

.btn-enviar:active{

transform:scale(1.05);
}

.btn-enviar:hoover{
background-color:#005b28 !important;
}
.botonvolver{
position: absolute;
top: 94%;
}

#agregarPregunta{
    display: none;
    width:100%;
}

.respuesta{
    width:70%;
}

#preguntaCerrada{

margin-bottom:10px;
}

.tooltip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    color:green;
    font-size: 15px;
  }
  .tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    color:green;
    font-size: 15px;
  }


.tooltip1 .tooltiptext{
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }

  .tooltip2 .tooltiptext{
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }

  .tooltip1:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip2:hover .tooltiptext {
    visibility: visible;
  }
